body{
    background-color:burlywood;
}

/* to target an id on the page, use # */
#container{
    /* to centre your site on the page, use margin */
    /* margin is the space around an element
     (pushing it away from other elements) */
    /* if you automatically apply an equal amount of space
     on both sides of an element, it will centre the element */
    margin: 0 auto;
    width: 800px;
}

/* the CSS box model goes:
    margin: space between elements
    border
    padding: space between content and the edge of an element
*/
h3{
    background-color:darkorchid;
    /* when adding a border, you need three rules:
        color
        size
        type (ie. solid, dashed, dotted, etc.)
    */
    border:black 5px dotted;

    /* with padding, if you only give it one value, it applies
    the same amount of space on both sides */
    padding:15px;

    /* with margin and padding, two values means applying to
    top-bottom (first value), left-right (second value) */
    margin:10px 0;
}

footer{
    /* sometimes you do just want space on one side of an element... */
    padding-left:20px;
}